@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.linear-color{
    background-image: linear-gradient(90deg, #2937f0, #9f1ae2);
}
.navigation{
    height: 80px;
}
.text-blue{
    color: #2937f0;
}
.banner{
    height: calc(100vh - 80px);
    min-height: 500px;
}
.web-design{
    min-height: 100vh;
}